ion-item {
  margin: 10px;
}

.black {
  color: #000;
  font-weight: 900;
}

.blue {
  color: #177CCE;
  font-weight: 900;
}

.green {
  color: #7EB43E;
  font-weight: 900;
}

.red {
  color: #FF0000;
  font-weight: 900;
}

.orange {
  color: #FF9E00;
  font-weight: 900;
}

.purple {
  color: #8D08C5;
  font-weight: 900;
}

.menu-icon {
  width: 36px;
  height: 36px;
}
