<ion-content no-padding>
  <ion-item *ngIf="header == 'Makanan'" class="red" lines="full">
    <img class="menu-icon" src="assets/icon/food.png"/>
    <ion-label>{{header}}</ion-label>
  </ion-item>
  <ion-item *ngIf="header == 'Habitat'" class="green" lines="full">
    <img class="menu-icon" src="assets/icon/habitat.png"/>
    <ion-label>{{header}}</ion-label>
  </ion-item>
  <ion-item *ngIf="header == 'Catatan'" class="purple" lines="full">
    <img class="menu-icon" src="assets/icon/deskripsi.png"/>
    <ion-label>{{header}}</ion-label>
  </ion-item>
  <ion-item lines="none">
    {{message}}
  </ion-item>

</ion-content>
