<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="blue">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="black">Hewan dari huruf {{alphabet}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img *ngIf="products.length == 0" src="assets/identities/notfound.png"/>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let product of products">
      <ion-card class="animal-card" color="primary">
        <div class="animal-image">
          <img  *ngIf="products.image == null" src="assets/animals/{{product.image}}"/>
          <img  *ngIf="products.image != null" src="assets/animals/{{product.image}}"/>
        </div>
        <ion-card-content>
          <h1 class="purple">{{product.name}}</h1>
          <h2 class="orange">{{product.title}}</h2>
          <hr>
          <ion-segment>
            <ion-segment-button class="red" (click)="presentModal('Makanan', product.makanan)">
              <img class="menu-icon" src="assets/icon/food.png"/>
              <ion-label>Makanan</ion-label>
            </ion-segment-button>
            <ion-segment-button class="green" (click)="presentModal('Habitat', product.habitat)">
              <img class="menu-icon" src="assets/icon/habitat.png"/>
              <ion-label>Habitat</ion-label>
            </ion-segment-button>
            <ion-segment-button class="blue" (click)="presentModal('Catatan', product.description)">
              <img class="menu-icon" src="assets/icon/deskripsi.png"/>
              <ion-label>Catatan</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
