ion-toolbar {
  border-bottom: 2px solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

ion-card {
  border: 2px solid black;
  border-radius: 15px;
  border-bottom: 5px solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-top: 10px;
}

ion-segment-button {
  text-transform: none;
  font-size: 1em;
}

ion-spinner {
  display: block;
  margin: auto;
  margin-top: 60%;
}

hr {
  background: #000 !important;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.animal-card {
  height: 480px;
}

.menu-icon {
  width: 36px;
  height: 36px;
  margin-bottom: -10px;
}

.alphabet-title {
  height: 80px;
  width: 80px;
}

.animal-image {
  img {
    height: 300px;
    width: 300px;
  }
}

.black {
  color: #000;
  font-weight: 900;
}

.blue {
  color: #177CCE;
  font-weight: 900;
}

.green {
  color: #7EB43E;
  font-weight: 900;
}

.red {
  color: #FF0000;
  font-weight: 900;
}

.orange {
  color: #FF9E00;
  font-weight: 900;
}

.purple {
  color: #8D08C5;
  font-weight: 900;
}
