ion-grid {
  margin-top: 30px;
}

ion-card {
  padding-bottom: 3px;
  border: 2px solid black;
  border-radius: 10px;
  border-bottom: 5px solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.red {
  color: #FF0000;
  font-weight: 900;
}

.blue {
  color: #177CCE;
  font-weight: 900;
}

.purple {
  color: #8D08C5;
  font-weight: 900;
}

.green {
  color: #7EB43E;
  font-weight: 900;
}

.orange {
  color: #FF9E00;
  font-weight: 900;
}
