<ion-content padding>
  <ion-grid>
    <img src="assets/identities/appName.png"/>
    <br>
    <br>
    <ion-row *ngFor="let alp of alphabets; let i = index;">
      <ion-col size="12" style="text-align: center;" *ngIf="i % 2 == 0">
        <ion-icon class="red" name="star"></ion-icon>
        <ion-icon class="green" style="font-size: 1.5em;" name="star"></ion-icon>
        <ion-icon class="blue" name="star"></ion-icon>
      </ion-col>
      <ion-col size="12" style="text-align: center;" *ngIf="i % 2 != 0">
        <ion-icon class="purple" name="star"></ion-icon>
        <ion-icon class="orange" style="font-size: 1.5em;" name="star"></ion-icon>
        <ion-icon class="red" name="star"></ion-icon>
      </ion-col>
      <ion-col size="6" *ngFor="let a of alp">
        <ion-card color="primary" routerLink="/item-sorted/{{a}}">
          <img src="assets/alphabets/icon_{{a}}.png"/>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
